img {
  border: thin solid gray !important;
  box-shadow: 3px 3px 3px #ccc;
  margin-bottom: 1em;
}

#study-roles th, #study-roles td {
  font-size: smaller !important;
  padding: 0px !important;
}

#study-roles th:not(:first-child), #study-roles td:not(:first-child) {
  max-width:5em;
  text-align:center;
}

.rst-content ol li img:last-child {
  margin-bottom: 2em;
}

.rst-content li {
  padding-bottom: 1em;
}



nav#toggle-lookit-frameplayer ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    margin-top: 2em;
}

nav#toggle-lookit-frameplayer li {
    float: left;
    border-bottom-width: 0;
    border: thin solid whitesmoke;
    padding: 10px 10px .5em 12px;
    border-width: 1px 1px 0px 1px;
    margin: 0;
    border-radius: 20px 8px 0px 0px;
    background-color: #343131;
}

nav#toggle-lookit-frameplayer li a {
    font-weight: bold;
    color: #9a9a9a; 
}

nav#toggle-lookit-frameplayer li a:visited  {
    color: #9a9a9a;  
}

#toggle-lookit-frameplayer #selected {
    position: relative;
    top: 1px;
}

#toggle-lookit-frameplayer #selected a, #toggle-lookit-frameplayer #selected a:visited {
    color: white;
}

div.wy-side-nav-search {
    clear: both;
    display:inline-block;
    
    border-bottom: thin solid whitesmoke;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;;
}


.wy-nav-side {
    width: 20em;
}

.wy-side-scroll {
    width: 22em;
}
    
.wy-side-nav-search {
    width: 20em;
}
    
.wy-menu-vertical {
    width: 20em;
}

.wy-nav-content-wrap {
    margin-left: 20em;
}

ul.tutorial-participants {
    column-count: 2;
}

ul.tutorial-participants li, ul.jspsych-plugins-extensions li {
    padding: 0;
}

div#zotero-publication-list {
    margin-bottom: 1em;
}

.rst-content ul.lookit-publication-list {
    padding: 0;
    text-indent: -1em;
    margin-bottom: 1em;
}

.rst-content ul.lookit-publication-list li {
    list-style-type: none !important;
    padding-bottom: 0;
}

.rst-content ul.lookit-publication-list p {
    line-height: 2 !important;
}

.lookit-center-text {
    text-align: center;
}

.lookit-error-message-text {
    color:#9a9a9a
}